#navigation {
  position: relative;
  height: 120px;
  z-index: 10;
  .navigation1 {
    width:100%;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height:120px;
    .navigation-logo-listMenu {
      width: 100%;
      height: 120px;
      .icon-menu {
        display:none;
      }
      .logo {
        display: inline-block;
        width: 10%;
        padding: 6px 20px;
        p {
          position: relative;
          z-index: 5;
          color: rgb(255, 255, 255);
          letter-spacing: 5px;
          font-size: 100px;
          line-height: 100px;
          font-family: 'Unica One', cursive;
          display: block;
          width: 100%;
          margin: 0;
          &::before {
            content:"";
            width: 45px;
            height: 4px;
            position: relative;
            display: block;
            z-index: 5;
            background: rgb(255, 255, 255);
            cursor:pointer;
          }
          &::after {
            content:"";
            width: 45px;
            height: 4px;
            position: relative;
            display: block;
            z-index: 5;
            background: rgb(255, 255, 255);
            cursor:pointer;
          }
        }
      }
      .nav-list-menu {
        background:white;
        display:block;
        float:right;
        #list-menu{
          padding: 0;
          padding-right:40px;
          padding-left:0;
          z-index:2;
          margin:0;
          margin-left: -30px;
        }
        .list-menu {
          display:inline-block;
          color:white;
          height: 120px;
          text-align: center;
          position: relative;
          margin-left: 2px;
          .show-arrow {
            display:none;
          }
          a {
            letter-spacing: 1px;
            display: block;
            padding: 40px 38px 40px;
            font-size: 20px;
            line-height: 38px;
            text-transform: uppercase;
            font-family: "Unica One", cursive;
            position: relative;
            z-index: 2;
            text-decoration: none;
            color:black;
            height:100%;
            &.active, &:hover {
              color:white;
              &::before {
                content: '';
                transform: skewX(-19deg);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                transition: .3s;
                background: green;
                border-radius:5px;
              }
            }
            &::before {
              content: '';
              transform: skewX(-19deg);
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: -1;
              transition: .3s;
              background: lightgreen;
              border-radius:5px;
            }
          }
          #list-menu1 {
            position:absolute;
            padding: 0;
            background:white;
            list-style: none;
            left:-19px;
            width:157px;
            display:none;
            #news {
              #list-menu2 {
                display:none;
              }
              &:hover {
                #list-menu2 {
                  display:block;
                }
              }
            }
            .list-menu1 {
              a {
                &::before {
                  display:none;
                }
              }
              &:hover {
                background:green;
              }
              #list-menu2 {
                position:absolute;
                left:100%;
                top:236px;
                list-style: none;
                padding: 0;
                background:white;
                .list-menu2 {
                  &:hover {
                    background:green;
                  }
                }
              }
            }
          }
          
        }
      }
    }
    @media(max-width:991px) {
      height:70px;
      
      .navigation-logo-listMenu {
        height:70px;
        .logo {
          p {
            font-size: 50px;
            line-height: 50px;
            &::before, &::after {
              background: rgb(255, 255, 255);
              width: 30px;
            }
          }
        }
        .nav-list-menu {
          background: inherit;
          ul {
            padding-right: 12px;
            .list-menu {
              height:70px;
              a {
                padding: 20px 20px 20px;
                font-size: 20px;
                line-height: 30px;
              }
              #list-menu1 {
                width:120px;
                left:-10px;
                .list-menu1 {
                  #list-menu2 {
                    top: 140px;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(max-width:767px) {
      width:100%;
      height:auto;
      &.fixed {
        background:white;
      }
      .navigation-logo-listMenu {
        .icon-menu {
          display:inline-block;
          i {
            font-size:50px;
            color:white;
            &::before {
              display:block;
            }
          }
        }
        .nav-list-menu {
          width:300px;
          float:none;
          display:none;
          #list-menu {
            padding-right: 0;
            .list-menu {
              display:block;
              background:rgb(255, 255, 255);
              .show-arrow {
                display:inline-block;
              }
              a {
                &::before {
                  display:none;
                }
                &.active {
                  background:green;
                }
                &:hover {
                  background:green;
                }
              }
              #list-menu1 {
                left: 328px;
                top: 0;
              }
            }
            @media(max-width:767px) {
              padding: 0;
            }
          }
        }
      }
    }
  }
  .fixed {
    position:fixed;
    top:0px;
    height:70px;
    display:block;
    z-index: 1;
    background:rgba(255, 255, 255, 0.8);
    .navigation-logo-listMenu {
      .icon-menu {
        i {
          color:black;
        }
      }
      height:70px;
      .logo {
        p {
          color: rgb(0, 0, 0);
          font-size: 50px;
          line-height: 50px;
          &::before, &::after {
            background: rgb(0, 0, 0);
            width: 30px;
          }
        }
      }
      .nav-list-menu {
        background: inherit;
        #list-menu {
          padding-right: 10px;
          .list-menu {
            height:70px;
            a {
              padding: 20px 20px 20px;
              font-size: 20px;
              line-height: 30px;
            }
            #list-menu1 {
              width: 120px;
              left: -10px;
              #list-menu2 {
                top: 140px;
              }
            }
            @media(max-width:767px) {
              #list-menu1 {
                left: 328px;
                top: 0;
              }
            }
          }
          @media(max-width:767px) {
            padding:0;  
          }
        }
      }
    }
  }
}
#gallery {
  margin-top: -120px;
  .first {
    background:black;
    width:100%;
    #myCarousel {
      position:static;
      .green-eden-span {
        position:absolute;
        margin:0 auto;
        top:40%;
        width:100%;
        height: 140px;
        padding-left: 30%;
        padding-right: 30%;
        #green-eden {
          position: relative;
          z-index: 5;
          color: white;
          letter-spacing: 5px;
          font-size: 100px;
          line-height: 100px;
          font-family: 'Unica One', cursive;
          display: block;
          width: 100%;
          &::before {
            content:"";
            width: 45px;
            height: 4px;
            position: relative;
            display: block;
            z-index: 5;
            background: white;
            cursor:pointer;
          }
          &::after {
            content:"";
            width: 45px;
            height: 4px;
            position: relative;
            display: block;
            z-index: 5;
            background: white;
            cursor:pointer;
            margin-top: 30px;
          }
          @media(max-width:789px) {
            &::after {
              margin-top:0;
            }
          }
          @media(max-width:575px) {
            font-size: 70px;
            line-height: 70px;
            
          }
        }
        p {
          color:white;
          font-family: 'Cabin', sans-serif;
          font-size:18px;
          font-weight: 400;
          position: relative;
          z-index: 5;
          letter-spacing: 6px;
          margin-top: -35px;
          padding-left: 10px;
          background: rgba(0,0,0,0.5);
          border-radius: 10px;
          #pro {
            color:#19270d;
            font-weight: bold;
            color: lightgreen;
          }
          @media(max-width:789px) {
            font-size:14px;
            margin-top: 10px;
          }
          @media(max-width:575px) {
            
          }

        }
      }
      ol.carousel-indicators {
        position:absolute;
        top: 80vh;
        list-style: none;
        padding: 0;
        left: 70%;
        z-index: 1;
        @media(max-width:767px){
          display: block;
          bottom: 0;
        }
        .slide {
          display:inline-block;
          text-indent: 0px;
          width:30px;
          height:70px;
          background:rgba(0, 0, 0, 0);
          text-align: left;
          cursor:pointer;
          &::before {
            font-size: 50px;
            z-index: 5;
            width: 30px;
            height: 40px;
            display: block;
            position: relative;
            color: white;
            text-align:center;
          }
          &.active {
            &::after {
              content: "";
              position: relative;
              display: block;
              z-index: 5;
              margin-top: 10px;
              background: green;;
              cursor:pointer;
              width: 30px;
              height: 4px;
              text-align: center;
            }
          }
          
          @media (max-width:767px) {
            height: 30px;
            &::before {
              font-size:30px;
              height:30px;
              width:20px;
            }
            &.active {
              &::after {
                width: 20px;
                margin-top: -10px;
              }
            }
          }
        }
        .slide1{
          &::before {
            content: "1";
          }
          &.active {
            &::before {
              content: "1";
              position: relative;
              display: block;
              color: green;
            }
          }
        }
        li.slide2 {
          &::before {
            content: "2";
          }
          &.active {
            &::before {
              content: "2";
              position: relative;
              display: block;
              color: green;
            }
          }
        }
        li.slide3 {
          &::before {
            content: "3";
          }
          &.active {
            &::before {
              content: "3";
              width: 30px;
              height: 40px;
              position: relative;
              display: block;
              color: green;
            }
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          .img-slider {
            img {
              object-fit: cover;
              object-position: 50% 50%;
              height: 100vh;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
#create-garden {
  margin-top:-1px;
  .container-fluid /*zmien lub dodaj inną klase bo to klasa bootstrap*/ {
    padding:0;
    .row /*zmien lub dodaj inną klase bo to klasa bootstrap*/ {
      margin:0;
      .create-garden-text {
        background: rgb(255, 255, 255);
        padding: 50px 23px 50px 23px;
        position: relative;
        z-index: 5;
        &::before {
          content: '';
          display:block;
          transform: skewX(-19deg);
          background-color: rgb(255, 255, 255);
          position: absolute;
          left: -10vw;
          top: -30px;
          bottom: 0;
          right: -100vw;
          z-index: -1;
          box-shadow: 3px 4px 5px 0 rgba(0,0,0,.11);
          width:55vw;
          height:110%;
          @media(max-width:767px) {
            display:none;
          }
        }
        &::after {
          content: '';
          display:block;
          transform: skewX(19deg);
          background-color: rgb(255, 255, 255);
          position: absolute;
          left: -10vw;
          top: -30px;
          bottom: 0;
          right: -100vw;
          z-index: -1;
          width:55vw;
          height:110%;
          @media(max-width:767px) {
            display:none;
          }
        }
        h2 {
          font-size: 30px;
          line-height: 1.2;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 600;
          font-family: cabin,sans-serif;
          display: block;
          color: #141414;
          @media(max-width:1599px) and (min-width:992px) {
            font-size: 45px;
          }
        }
        p {
          margin-top: 36px;
          font-weight: 500;
          color: #7b7b7b;
          font-family: "open sans", sans-serif;
          font-size:18px;
        }
        a.btn-primary {
          color: green;
          background: lightgreen;
          border: 3px solid lightgreen;
          border-radius: 0;
          padding: 6px 6px 6px 26px;
          font-size: 24px;
          text-align: center;
          line-height: 1.2;
          text-transform: uppercase;
          cursor: pointer;
          z-index: 1;
          text-decoration: none;
          font-family: cabin,sans-serif;
          letter-spacing: 1px;
          margin-top: 33px;
          &:hover {
            color:white;
            background:green;
            border-color: green;
          }
        }
        @media (min-width:767px) {
          padding: 50px 50px 50px 50px;
        }
        @media(min-width:1500px) {
          padding: 70px;
        }
      }
      .create-garden-img {
        padding-right:0;
        img {
          min-width: 50%;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 0;
        }
        @media(max-width:767px) {
          padding-left:0;
        }
      }
    }
  }
}