#navigation {
  position: relative;
  height: 120px;
  z-index: 10;
}

#navigation .navigation1 {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu {
  width: 100%;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu .logo {
  display: inline-block;
  width: 10%;
  padding: 6px 20px;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
  margin: 0;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
  background: white;
  display: block;
  float: right;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul {
  padding: 0;
  padding-right: 40px;
  padding-left: 0;
  z-index: 2;
  margin: 0;
  margin-left: -30px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu {
  display: inline-block;
  color: white;
  height: 120px;
  text-align: center;
  position: relative;
  margin-left: 2px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a {
  letter-spacing: 1px;
  display: block;
  padding: 40px 38px 40px;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: "Unica One", cursive;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: black;
  height: 100%;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover {
  color: white;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active::before, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: green;
  border-radius: 5px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: lightgreen;
  border-radius: 5px;
}

#navigation .fixed {
  position: fixed;
  top: 0px;
  height: 70px;
  display: block;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

#navigation .fixed .navigation-logo-listMenu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .logo p {
  color: black;
  font-size: 50px;
  line-height: 50px;
}

#navigation .fixed .navigation-logo-listMenu .logo p::before, #navigation .fixed .navigation-logo-listMenu .logo p::after {
  background: black;
  width: 30px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu {
  background: inherit;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu ul {
  padding-right: 10px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu ul .list-menu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu ul .list-menu a {
  padding: 20px 20px 20px;
  font-size: 20px;
  line-height: 30px;
}

#gallery {
  margin-top: -120px;
}

#gallery .first {
  background: black;
  width: 100%;
}

#gallery .first #myCarousel {
  position: static;
}

#gallery .first #myCarousel .green-eden-span {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  width: 100%;
  height: 140px;
  padding-left: 30%;
  padding-right: 30%;
}

#gallery .first #myCarousel .green-eden-span #green-eden {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
}

#gallery .first #myCarousel .green-eden-span #green-eden::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#gallery .first #myCarousel .green-eden-span #green-eden::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
  margin-top: 30px;
}

#gallery .first #myCarousel .green-eden-span p {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: 5;
  letter-spacing: 6px;
  margin-top: -35px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#gallery .first #myCarousel .green-eden-span p #pro {
  color: #19270d;
  font-weight: bold;
  color: lightgreen;
}

#gallery .first #myCarousel ol.carousel-indicators {
  position: absolute;
  top: 80vh;
  list-style: none;
  padding: 0;
  left: 70%;
  z-index: 1;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators {
    display: block;
    bottom: 0;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide {
  display: inline-block;
  text-indent: 0px;
  width: 30px;
  height: 70px;
  background: rgba(0, 0, 0, 0);
  text-align: left;
  cursor: pointer;
}

#gallery .first #myCarousel ol.carousel-indicators .slide::before {
  font-size: 50px;
  z-index: 5;
  width: 30px;
  height: 40px;
  display: block;
  position: relative;
  color: white;
  text-align: center;
}

#gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
  content: "";
  position: relative;
  display: block;
  z-index: 5;
  margin-top: 10px;
  background: #489900;
  cursor: pointer;
  width: 30px;
  height: 4px;
  text-align: center;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators .slide {
    height: 30px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide::before {
    font-size: 30px;
    height: 30px;
    width: 20px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
    width: 20px;
    margin-top: -10px;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide1::before {
  content: "1";
}

#gallery .first #myCarousel ol.carousel-indicators .slide1.active::before {
  content: "1";
  position: relative;
  display: block;
  color: #489900;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2::before {
  content: "2";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2.active::before {
  content: "2";
  position: relative;
  display: block;
  color: #489900;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3::before {
  content: "3";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3.active::before {
  content: "3";
  width: 30px;
  height: 40px;
  position: relative;
  display: block;
  color: #489900;
}

#gallery .first #myCarousel .carousel-inner .carousel-item .img-slider img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100vh;
  width: 100%;
}

#create-garden {
  margin-top: -1px;
}

#create-garden .container-fluid {
  padding: 0;
}

#create-garden .container-fluid .row {
  margin: 0;
}

#create-garden .container-fluid .row .create-garden-text {
  background: white;
  padding: 50px 23px 50px 23px;
  position: relative;
  z-index: 5;
}

#create-garden .container-fluid .row .create-garden-text::before {
  content: '';
  display: block;
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  background-color: white;
  position: absolute;
  left: -10vw;
  top: -30px;
  bottom: 0;
  right: -100vw;
  z-index: -1;
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
  width: 55vw;
  height: 110%;
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text::before {
    display: none;
  }
}

#create-garden .container-fluid .row .create-garden-text::after {
  content: '';
  display: block;
  -webkit-transform: skewX(19deg);
          transform: skewX(19deg);
  background-color: white;
  position: absolute;
  left: -10vw;
  top: -30px;
  bottom: 0;
  right: -100vw;
  z-index: -1;
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
  width: 55vw;
  height: 110%;
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    display: none;
  }
}

#create-garden .container-fluid .row .create-garden-text h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
}

@media (max-width: 1599px) and (min-width: 992px) {
  #create-garden .container-fluid .row .create-garden-text h2 {
    font-size: 45px;
  }
}

#create-garden .container-fluid .row .create-garden-text p {
  margin-top: 36px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#create-garden .container-fluid .row .create-garden-text a.btn-primary {
  color: #fff;
  background: #041103;
  border: 3px solid #041103;
  border-radius: 0;
  padding: 6px 26px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
}

#create-garden .container-fluid .row .create-garden-text .btn::after {
  content: '\e097 ';
  font-family: fl-bigmug-line;
  font-size: 20px;
  line-height: 45px;
  margin-left: 15px;
}

@media (min-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text {
    padding: 50px 50px 50px 50px;
  }
}

#create-garden .container-fluid .row .create-garden-img {
  padding-right: 0;
}

#create-garden .container-fluid .row .create-garden-img img {
  min-width: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-img {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */