#navigation {
  position: relative;
  height: 120px;
  z-index: 10;
}

#navigation .navigation1 {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu {
  width: 100%;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu .icon-menu {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .logo {
  display: inline-block;
  width: 10%;
  padding: 6px 20px;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
  margin: 0;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
  background: white;
  display: block;
  float: right;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
  padding: 0;
  padding-right: 40px;
  padding-left: 0;
  z-index: 2;
  margin: 0;
  margin-left: -30px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu {
  display: inline-block;
  color: white;
  height: 120px;
  text-align: center;
  position: relative;
  margin-left: 2px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu .show-arrow {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a {
  letter-spacing: 1px;
  display: block;
  padding: 40px 38px 40px;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: "Unica One", cursive;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: black;
  height: 100%;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover {
  color: white;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active::before, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: green;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: #BEEB53;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 {
  position: absolute;
  padding: 0;
  background: white;
  list-style: none;
  left: -19px;
  width: 157px;
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 #news #list-menu2 {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 #news:hover #list-menu2 {
  display: block;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 a::before {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1:hover {
  background: green;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 #list-menu2 {
  position: absolute;
  left: 100%;
  top: 236px;
  list-style: none;
  padding: 0;
  background: white;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 #list-menu2 .list-menu2:hover {
  background: green;
}

@media (max-width: 991px) {
  #navigation .navigation1 {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .logo p {
    font-size: 50px;
    line-height: 50px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .logo p::before, #navigation .navigation1 .navigation-logo-listMenu .logo p::after {
    background: white;
    width: 30px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
    background: inherit;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul {
    padding-right: 12px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu a {
    padding: 20px 20px 20px;
    font-size: 20px;
    line-height: 30px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu #list-menu1 {
    width: 120px;
    left: -10px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu #list-menu1 .list-menu1 #list-menu2 {
    top: 140px;
  }
}

@media (max-width: 767px) {
  #navigation .navigation1 {
    width: 100%;
    height: auto;
  }
  #navigation .navigation1.fixed {
    background: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu {
    display: inline-block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu i {
    font-size: 50px;
    color: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu i::before {
    display: block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
    width: 300px;
    float: none;
    display: none;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding-right: 0;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu {
    display: block;
    background: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu .show-arrow {
    display: inline-block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a::before {
    display: none;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a.active {
    background: green;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a:hover {
    background: green;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
    left: 328px;
    top: 0;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding: 0;
  }
}

#navigation .fixed {
  position: fixed;
  top: 0px;
  height: 70px;
  display: block;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

#navigation .fixed .navigation-logo-listMenu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .icon-menu i {
  color: black;
}

#navigation .fixed .navigation-logo-listMenu .logo p {
  color: black;
  font-size: 50px;
  line-height: 50px;
}

#navigation .fixed .navigation-logo-listMenu .logo p::before, #navigation .fixed .navigation-logo-listMenu .logo p::after {
  background: black;
  width: 30px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu {
  background: inherit;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu {
  padding-right: 10px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a {
  padding: 20px 20px 20px;
  font-size: 20px;
  line-height: 30px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
  width: 120px;
  left: -10px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 #list-menu2 {
  top: 140px;
}

@media (max-width: 767px) {
  #navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
    left: 328px;
    top: 0;
  }
}

@media (max-width: 767px) {
  #navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding: 0;
  }
}

#gallery {
  margin-top: -120px;
}

#gallery .first {
  background: black;
  width: 100%;
}

#gallery .first #myCarousel {
  position: static;
}

#gallery .first #myCarousel .green-eden-span {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  width: 100%;
  height: 140px;
  padding-left: 30%;
  padding-right: 30%;
}

#gallery .first #myCarousel .green-eden-span #green-eden {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
}

#gallery .first #myCarousel .green-eden-span #green-eden::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#gallery .first #myCarousel .green-eden-span #green-eden::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
  margin-top: 30px;
}

@media (max-width: 789px) {
  #gallery .first #myCarousel .green-eden-span #green-eden::after {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  #gallery .first #myCarousel .green-eden-span #green-eden {
    font-size: 70px;
    line-height: 70px;
  }
}

#gallery .first #myCarousel .green-eden-span p {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: 5;
  letter-spacing: 6px;
  margin-top: -35px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#gallery .first #myCarousel .green-eden-span p #pro {
  color: #19270d;
  font-weight: bold;
  color: #BEEB53;
}

@media (max-width: 789px) {
  #gallery .first #myCarousel .green-eden-span p {
    font-size: 14px;
    margin-top: 10px;
  }
}

#gallery .first #myCarousel ol.carousel-indicators {
  position: absolute;
  top: 80vh;
  list-style: none;
  padding: 0;
  left: 70%;
  z-index: 1;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators {
    display: block;
    bottom: 0;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide {
  display: inline-block;
  text-indent: 0px;
  width: 30px;
  height: 70px;
  background: rgba(0, 0, 0, 0);
  text-align: left;
  cursor: pointer;
}

#gallery .first #myCarousel ol.carousel-indicators .slide::before {
  font-size: 50px;
  z-index: 5;
  width: 30px;
  height: 40px;
  display: block;
  position: relative;
  color: white;
  text-align: center;
}

#gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
  content: "";
  position: relative;
  display: block;
  z-index: 5;
  margin-top: 10px;
  background: green;
  cursor: pointer;
  width: 30px;
  height: 4px;
  text-align: center;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators .slide {
    height: 30px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide::before {
    font-size: 30px;
    height: 30px;
    width: 20px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
    width: 20px;
    margin-top: -10px;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide1::before {
  content: "1";
}

#gallery .first #myCarousel ol.carousel-indicators .slide1.active::before {
  content: "1";
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2::before {
  content: "2";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2.active::before {
  content: "2";
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3::before {
  content: "3";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3.active::before {
  content: "3";
  width: 30px;
  height: 40px;
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel .carousel-inner .carousel-item .img-slider img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100vh;
  width: 100%;
}

#create-garden {
  margin-top: -1px;
}

#create-garden .container-fluid {
  padding: 0;
}

#create-garden .container-fluid .row {
  margin: 0;
}

#create-garden .container-fluid .row .create-garden-text {
  background: white;
  position: relative;
  margin-top: -31px;
  margin-bottom: -31px;
  padding: 87px 20px 87px 50px;
  z-index: 2;
}

#create-garden .container-fluid .row .create-garden-text::before {
  content: '';
  display: block;
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  background-color: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100px;
  z-index: -1;
  width: 40vw;
  height: 100%;
}

#create-garden .container-fluid .row .create-garden-text::after {
  content: '';
  display: block;
  -webkit-transform: skewX(19deg);
          transform: skewX(19deg);
  background-color: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100px;
  z-index: -1;
  width: 40vw;
  height: 100%;
}

@media (max-width: 1372px) and (min-width: 992px) {
  #create-garden .container-fluid .row .create-garden-text::before, #create-garden .container-fluid .row .create-garden-text::after {
    left: 105px;
    width: 35vw;
  }
}

@media (max-width: 1199px) {
  #create-garden .container-fluid .row .create-garden-text {
    margin: 0;
    padding: 50px;
  }
  #create-garden .container-fluid .row .create-garden-text h2 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #create-garden .container-fluid .row .create-garden-text div.more {
    padding-left: 40%;
    padding-right: 40%;
  }
  #create-garden .container-fluid .row .create-garden-text div.more a {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text::before, #create-garden .container-fluid .row .create-garden-text::after {
    display: none;
  }
  #create-garden .container-fluid .row .create-garden-text div.more {
    padding-left: 0;
    padding-right: 0;
  }
  #create-garden .container-fluid .row .create-garden-text div.more a {
    width: auto;
  }
}

#create-garden .container-fluid .row .create-garden-text h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  #create-garden .container-fluid .row .create-garden-text h2 {
    font-size: 45px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #create-garden .container-fluid .row .create-garden-text h2 {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  #create-garden .container-fluid .row .create-garden-text {
    padding: 87px;
  }
  #create-garden .container-fluid .row .create-garden-text h2 {
    font-size: 55px;
  }
}

#create-garden .container-fluid .row .create-garden-text p {
  margin-top: 36px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#create-garden .container-fluid .row .create-garden-text a.btn-primary {
  color: green;
  background: #BEEB53;
  border: 3px solid #BEEB53;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#create-garden .container-fluid .row .create-garden-text a.btn-primary:hover {
  color: white;
  background: green;
  border-color: green;
}

#create-garden .container-fluid .row .create-garden-img {
  padding-right: 0;
}

#create-garden .container-fluid .row .create-garden-img::before {
  content: '';
  display: block;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  background-color: #445649;
  position: absolute;
  top: -31px;
  right: 45vw;
  z-index: 1;
  width: 5vw;
  height: 31px;
}

#create-garden .container-fluid .row .create-garden-img::after {
  content: '';
  display: block;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  background-color: #445649;
  position: absolute;
  bottom: -31px;
  right: 45vw;
  z-index: 1;
  width: 5vw;
  height: 31px;
}

@media (max-width: 1199px) {
  #create-garden .container-fluid .row .create-garden-img::before, #create-garden .container-fluid .row .create-garden-img::after {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1372px) {
  #create-garden .container-fluid .row .create-garden-img::before, #create-garden .container-fluid .row .create-garden-img::after {
    width: 7vw;
  }
}

@media (max-width: 1520px) and (min-width: 1373px) {
  #create-garden .container-fluid .row .create-garden-img::after, #create-garden .container-fluid .row .create-garden-img::before {
    right: 43vw;
  }
}

#create-garden .container-fluid .row .create-garden-img img {
  min-width: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  min-height: 513px;
}

@media (max-width: 991px) {
  #create-garden .container-fluid .row .create-garden-img {
    padding-left: 0;
  }
}

#landscape-drainage-photo {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background: url(../image/white-waves/white-waves.png);
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery {
  text-align: center;
  -webkit-box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.11);
  padding: 57px 0 57px;
  background-color: white;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape i, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage i, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery i {
  font-size: 60px;
  font-weight: 400;
  color: green;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape div, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage div, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery div {
  width: 60px;
  background: green;
  margin: 15px auto 25px;
  height: 4px;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 {
  font-family: cabin, sans-serif;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4 a, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4 a, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 a {
  text-decoration: none;
  color: black;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4 a:hover, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4 a:hover, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 a:hover {
  color: #7b7b7b;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape p, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage p, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery p {
  text-align: left;
  font-size: 16px;
  margin-top: 49px;
  padding: 0 56px 0 56px;
  color: #7b7b7b;
  line-height: 1.75;
  font-family: "open sans", sans-serif;
}

@media (max-width: 991px) {
  #landscape-drainage-photo .landscape-drainage-photo .l-d-p {
    padding-bottom: 30px;
  }
}

#principles {
  padding-top: 50px;
}

#principles .principles-h2-img {
  text-align: center;
}

#principles .principles-h2-img h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
  padding: 0 53px;
}

@media (max-width: 1599px) and (min-width: 992px) {
  #principles .principles-h2-img h2 {
    font-size: 45px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #principles .principles-h2-img h2 {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  #principles .principles-h2-img {
    padding: 87px 87px 0;
  }
  #principles .principles-h2-img h2 {
    font-size: 55px;
  }
}

#principles .principles-h2-img img {
  max-width: 100%;
  height: auto;
  top: auto;
  bottom: 0;
}

@media (min-width: 992px) {
  #principles .principles-h2-img img {
    margin-top: 50px;
  }
}

#principles .principles-decription div.line {
  background: green;
  width: 60px;
  height: 4px;
}

@media (max-width: 991px) {
  #principles .principles-decription div.line {
    margin: 30px auto 0;
    width: 30%;
  }
}

@media (min-width: 992px) {
  #principles .principles-decription div.line {
    margin: 6px 0 40px;
  }
}

#principles .principles-decription p {
  margin-top: 36px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#principles .principles-decription h4 {
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
  margin-top: 54px;
}

#principles .principles-decription ol {
  color: green;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0b3b0b;
  list-style: none;
  margin-top: 48px;
  -webkit-column-count: 2;
          column-count: 2;
  padding: 0;
  font-family: "open sans", sans-serif;
  font-weight: 600;
}

#principles .principles-decription ol li {
  margin-top: 9px;
}

#principles .principles-decription ol li:first-of-type {
  margin-top: 0;
}

#principles .principles-decription ol li a, #principles .principles-decription ol li span {
  color: green;
  text-decoration: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#principles .principles-decription ol li a:hover {
  color: #BEEB53;
}

#principles .principles-decription a.btn-primary {
  color: green;
  background: #BEEB53;
  border: 3px solid #BEEB53;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#principles .principles-decription a.btn-primary:hover {
  color: white;
  background: green;
  border-color: green;
}

@media (min-width: 1600px) {
  #principles .principles-decription {
    padding: 87px 87px 0;
  }
}

@media (max-width: 991px) {
  #principles {
    padding-bottom: 50px;
  }
  #principles .principles-decription, #principles .principles-h2-img {
    padding-right: 50px;
    padding-left: 50px;
  }
  #principles .principles-decription h4, #principles .principles-h2-img h4 {
    text-align: center;
  }
  #principles .principles-decription ol li, #principles .principles-h2-img ol li {
    padding-left: 30%;
    white-space: nowrap;
  }
  #principles .principles-decription ol li:nth-child(n+4), #principles .principles-h2-img ol li:nth-child(n+4) {
    padding-left: 0;
    padding-right: 30%;
  }
  #principles .principles-decription div.more, #principles .principles-h2-img div.more {
    padding-left: 40%;
    padding-right: 40%;
  }
  #principles .principles-decription div.more a, #principles .principles-h2-img div.more a {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #principles .principles-decription ol li, #principles .principles-h2-img ol li {
    padding-left: 0;
    padding-right: 0;
  }
  #principles .principles-decription div.more, #principles .principles-h2-img div.more {
    padding-left: 0;
    padding-right: 0;
  }
  #principles .principles-decription div.more a, #principles .principles-h2-img div.more a {
    width: auto;
  }
}

@media (min-width: 1600px) {
  #principles {
    padding-top: 0;
  }
}

#contemporary .contemporary .contemporary-img {
  padding: 0;
}

#contemporary .contemporary .contemporary-img img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

#contemporary .contemporary .contemporary-img::before {
  content: '';
  display: block;
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  background-color: #445649;
  position: absolute;
  top: -31px;
  left: 45vw;
  z-index: 1;
  width: 5vw;
  height: 31px;
}

#contemporary .contemporary .contemporary-img::after {
  content: '';
  display: block;
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
  background-color: #445649;
  position: absolute;
  bottom: -31px;
  left: 45vw;
  z-index: 1;
  width: 5vw;
  height: 31px;
}

@media (max-width: 1520px) and (min-width: 1373px) {
  #contemporary .contemporary .contemporary-img::after, #contemporary .contemporary .contemporary-img::before {
    left: 43vw;
  }
}

@media (max-width: 1372px) and (min-width: 1200px) {
  #contemporary .contemporary .contemporary-img::before, #contemporary .contemporary .contemporary-img::after {
    width: 7vw;
  }
}

@media (max-width: 1199px) {
  #contemporary .contemporary .contemporary-img::before, #contemporary .contemporary .contemporary-img::after {
    display: none;
  }
}

#contemporary .contemporary .contemporary-text {
  margin-top: -31px;
  margin-bottom: -31px;
  padding: 87px 23px 87px 15px;
  z-index: 2;
  background: #BEEB53;
}

#contemporary .contemporary .contemporary-text h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #445649;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  #contemporary .contemporary .contemporary-text h2 {
    font-size: 45px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #contemporary .contemporary .contemporary-text h2 {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  #contemporary .contemporary .contemporary-text {
    padding: 87px;
  }
  #contemporary .contemporary .contemporary-text h2 {
    font-size: 55px;
  }
}

#contemporary .contemporary .contemporary-text p {
  margin-top: 36px;
  font-weight: 500;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  color: #445649;
}

#contemporary .contemporary .contemporary-text a {
  color: green;
  background: #BEEB53;
  border: 3px solid green;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#contemporary .contemporary .contemporary-text a:hover {
  color: white;
  background: green;
  border-color: green;
}

#contemporary .contemporary .contemporary-text::before {
  content: "";
  position: absolute;
  height: 100%;
  background: #BEEB53;
  top: 0;
  right: 108px;
  z-index: -1;
  -webkit-transform: skewX(19deg);
          transform: skewX(19deg);
  width: 40vw;
  height: 100%;
}

#contemporary .contemporary .contemporary-text::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #BEEB53;
  top: 0;
  right: 108px;
  z-index: -1;
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  width: 40vw;
  height: 100%;
}

@media (max-width: 1199px) {
  #contemporary .contemporary .contemporary-text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px;
  }
  #contemporary .contemporary .contemporary-text h2 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #contemporary .contemporary .contemporary-text div.more {
    padding-left: 40%;
    padding-right: 40%;
  }
  #contemporary .contemporary .contemporary-text div.more a {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #contemporary .contemporary .contemporary-text div.more {
    padding-left: 0;
    padding-right: 0;
  }
  #contemporary .contemporary .contemporary-text div.more a {
    width: auto;
  }
}

@media (min-width: 992px) and (max-width: 1372px) {
  #contemporary .contemporary .contemporary-text::after, #contemporary .contemporary .contemporary-text::before {
    right: 105px;
    width: 35vw;
  }
}

#counters {
  background: url(../image/white-waves/white-waves.png);
  padding-top: 100px;
  padding-bottom: 100px;
}

#counters .row-counters {
  margin: 0;
  width: 100%;
}

#counters .row-counters .icon-counter-description {
  text-align: center;
}

#counters .row-counters .icon-counter-description span {
  display: block;
  border-radius: 50%;
  background: white;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.11);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#counters .row-counters .icon-counter-description span i {
  color: green;
  font-size: 100px;
}

#counters .row-counters .icon-counter-description span i::before {
  margin: 0;
}

#counters .row-counters .icon-counter-description span:hover {
  background: green;
}

#counters .row-counters .icon-counter-description span:hover i {
  color: white;
}

#counters .row-counters .icon-counter-description h4.number {
  margin-top: 30px;
  color: black;
}

#counters .row-counters .icon-counter-description h4.count-text {
  color: green;
}

@media (max-width: 767px) {
  #counters .row-counters .icon-counter-description {
    margin-top: 30px;
  }
}

#garden {
  margin-bottom: 50px;
}

#garden .garden {
  position: relative;
  text-align: center;
}

#garden .garden .garden-img {
  padding: 0 60px;
  width: 100%;
  height: 100%;
}

#garden .garden .garden-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 767px) {
  #garden .garden .garden-img {
    padding: 0;
  }
}

#garden .garden .garden-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 0 60px;
}

#garden .garden .garden-text h1, #garden .garden .garden-text h3 {
  width: 100%;
}

#garden .garden .garden-text h1 {
  font-size: 250px;
  line-height: .8;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-family: "unica one" ,cursive;
}

#garden .garden .garden-text h3 {
  font-size: 40px;
  line-height: 1.375;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-family: cabin, sans-serif;
}

#garden .garden .garden-text div.more {
  position: static;
  bottom: 0;
}

#garden .garden .garden-text div.more a {
  color: green;
  background: #BEEB53;
  border: 3px solid #BEEB53;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 300px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#garden .garden .garden-text div.more a:hover {
  color: white;
  background: green;
  border-color: green;
}

@media (max-width: 1199px) and (min-width: 992px) {
  #garden .garden .garden-text div.more a {
    margin-top: 140px;
  }
}

@media (max-width: 991px) {
  #garden .garden .garden-text h1 {
    font-size: 100px;
  }
  #garden .garden .garden-text h3 {
    font-size: 20px;
  }
  #garden .garden .garden-text div.more a {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  #garden .garden .garden-text h1 {
    font-size: 70px;
  }
  #garden .garden .garden-text div.more a {
    margin-top: 140px;
  }
}

@media (max-width: 451px) {
  #garden .garden .garden-text {
    padding: 0 45px;
  }
  #garden .garden .garden-text h1 {
    font-size: 50px;
    letter-spacing: 10px;
  }
  #garden .garden .garden-text div.more a {
    margin-top: 120px;
  }
}

#testimonials {
  height: 500px;
  background: #BEEB53;
  color: #445649;
  padding: 100px 0;
}

#testimonials .testimonials {
  text-align: center;
  height: 100%;
}

#testimonials .testimonials div.line {
  height: 4px;
  background: green;
  width: 60px;
  margin: 0 auto;
}

#testimonials .testimonials h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #445649;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  #testimonials .testimonials h2 {
    font-size: 45px;
  }
}

@media (min-width: 1600px) {
  #testimonials .testimonials h2 {
    font-size: 55px;
  }
}

#testimonials .testimonials div#carousel {
  margin-top: 60px;
}

#testimonials .testimonials div#carousel #myCarousel1 {
  height: 200px;
}

#testimonials .testimonials div#carousel #myCarousel1 h3 {
  font-size: 40px;
  line-height: 1.375;
  font-family: unica one,cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#testimonials .testimonials div#carousel #myCarousel1 p {
  font-family: "open sans", serif;
}

#testimonials .testimonials div#carousel #myCarousel1 ol.carousel-indicators li {
  background: green;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

#testimonials .testimonials div#carousel #myCarousel1 ol.carousel-indicators li.active {
  background: white;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-inner {
  padding: 0 100px;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-inner .carousel-item {
  overflow: hidden;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-inner .carousel-item .img-slider {
  overflow: hidden;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-inner .carousel-item .img-slider h3, #testimonials .testimonials div#carousel #myCarousel1 .carousel-inner .carousel-item .img-slider p {
  overflow: hidden;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-control-prev, #testimonials .testimonials div#carousel #myCarousel1 .carousel-control-next {
  width: 50px;
  bottom: auto;
  opacity: 1;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-control-prev span i, #testimonials .testimonials div#carousel #myCarousel1 .carousel-control-next span i {
  font-size: 60px;
  color: green;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-control-prev:hover, #testimonials .testimonials div#carousel #myCarousel1 .carousel-control-next:hover {
  opacity: .5;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-control-next {
  right: -100px;
}

#testimonials .testimonials div#carousel #myCarousel1 .carousel-control-prev {
  left: -100px;
}
/*# sourceMappingURL=style.css.map */