#navigation {
  position: relative;
  height: 120px;
  z-index: 10;
}

#navigation .navigation1 {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu {
  width: 100%;
  height: 120px;
}

#navigation .navigation1 .navigation-logo-listMenu .icon-menu {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .logo {
  display: inline-block;
  width: 10%;
  padding: 6px 20px;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
  margin: 0;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .logo p::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
  background: white;
  display: block;
  float: right;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
  padding: 0;
  padding-right: 40px;
  padding-left: 0;
  z-index: 2;
  margin: 0;
  margin-left: -30px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu {
  display: inline-block;
  color: white;
  height: 120px;
  text-align: center;
  position: relative;
  margin-left: 2px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu .show-arrow {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a {
  letter-spacing: 1px;
  display: block;
  padding: 40px 38px 40px;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: "Unica One", cursive;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: black;
  height: 100%;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover {
  color: white;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a.active::before, #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a:hover::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: green;
  border-radius: 5px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu a::before {
  content: '';
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  background: lightgreen;
  border-radius: 5px;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 {
  position: absolute;
  padding: 0;
  background: white;
  list-style: none;
  left: -19px;
  width: 157px;
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 #news #list-menu2 {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 #news:hover #list-menu2 {
  display: block;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 a::before {
  display: none;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1:hover {
  background: green;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 #list-menu2 {
  position: absolute;
  left: 100%;
  top: 236px;
  list-style: none;
  padding: 0;
  background: white;
}

#navigation .navigation1 .navigation-logo-listMenu .nav-list-menu .list-menu #list-menu1 .list-menu1 #list-menu2 .list-menu2:hover {
  background: green;
}

@media (max-width: 991px) {
  #navigation .navigation1 {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .logo p {
    font-size: 50px;
    line-height: 50px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .logo p::before, #navigation .navigation1 .navigation-logo-listMenu .logo p::after {
    background: white;
    width: 30px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
    background: inherit;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul {
    padding-right: 12px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu {
    height: 70px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu a {
    padding: 20px 20px 20px;
    font-size: 20px;
    line-height: 30px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu #list-menu1 {
    width: 120px;
    left: -10px;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu ul .list-menu #list-menu1 .list-menu1 #list-menu2 {
    top: 140px;
  }
}

@media (max-width: 767px) {
  #navigation .navigation1 {
    width: 100%;
    height: auto;
  }
  #navigation .navigation1.fixed {
    background: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu {
    display: inline-block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu i {
    font-size: 50px;
    color: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .icon-menu i::before {
    display: block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu {
    width: 300px;
    float: none;
    display: none;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding-right: 0;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu {
    display: block;
    background: white;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu .show-arrow {
    display: inline-block;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a::before {
    display: none;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a.active {
    background: green;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a:hover {
    background: green;
  }
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
    left: 328px;
    top: 0;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  #navigation .navigation1 .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding: 0;
  }
}

#navigation .fixed {
  position: fixed;
  top: 0px;
  height: 70px;
  display: block;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

#navigation .fixed .navigation-logo-listMenu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .icon-menu i {
  color: black;
}

#navigation .fixed .navigation-logo-listMenu .logo p {
  color: black;
  font-size: 50px;
  line-height: 50px;
}

#navigation .fixed .navigation-logo-listMenu .logo p::before, #navigation .fixed .navigation-logo-listMenu .logo p::after {
  background: black;
  width: 30px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu {
  background: inherit;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu {
  padding-right: 10px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu {
  height: 70px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu a {
  padding: 20px 20px 20px;
  font-size: 20px;
  line-height: 30px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
  width: 120px;
  left: -10px;
}

#navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 #list-menu2 {
  top: 140px;
}

@media (max-width: 767px) {
  #navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu .list-menu #list-menu1 {
    left: 328px;
    top: 0;
  }
}

@media (max-width: 767px) {
  #navigation .fixed .navigation-logo-listMenu .nav-list-menu #list-menu {
    padding: 0;
  }
}

#gallery {
  margin-top: -120px;
}

#gallery .first {
  background: black;
  width: 100%;
}

#gallery .first #myCarousel {
  position: static;
}

#gallery .first #myCarousel .green-eden-span {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  width: 100%;
  height: 140px;
  padding-left: 30%;
  padding-right: 30%;
}

#gallery .first #myCarousel .green-eden-span #green-eden {
  position: relative;
  z-index: 5;
  color: white;
  letter-spacing: 5px;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Unica One', cursive;
  display: block;
  width: 100%;
}

#gallery .first #myCarousel .green-eden-span #green-eden::before {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
}

#gallery .first #myCarousel .green-eden-span #green-eden::after {
  content: "";
  width: 45px;
  height: 4px;
  position: relative;
  display: block;
  z-index: 5;
  background: white;
  cursor: pointer;
  margin-top: 30px;
}

@media (max-width: 789px) {
  #gallery .first #myCarousel .green-eden-span #green-eden::after {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  #gallery .first #myCarousel .green-eden-span #green-eden {
    font-size: 70px;
    line-height: 70px;
  }
}

#gallery .first #myCarousel .green-eden-span p {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: 5;
  letter-spacing: 6px;
  margin-top: -35px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#gallery .first #myCarousel .green-eden-span p #pro {
  color: #19270d;
  font-weight: bold;
  color: lightgreen;
}

@media (max-width: 789px) {
  #gallery .first #myCarousel .green-eden-span p {
    font-size: 14px;
    margin-top: 10px;
  }
}

#gallery .first #myCarousel ol.carousel-indicators {
  position: absolute;
  top: 80vh;
  list-style: none;
  padding: 0;
  left: 70%;
  z-index: 1;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators {
    display: block;
    bottom: 0;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide {
  display: inline-block;
  text-indent: 0px;
  width: 30px;
  height: 70px;
  background: rgba(0, 0, 0, 0);
  text-align: left;
  cursor: pointer;
}

#gallery .first #myCarousel ol.carousel-indicators .slide::before {
  font-size: 50px;
  z-index: 5;
  width: 30px;
  height: 40px;
  display: block;
  position: relative;
  color: white;
  text-align: center;
}

#gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
  content: "";
  position: relative;
  display: block;
  z-index: 5;
  margin-top: 10px;
  background: green;
  cursor: pointer;
  width: 30px;
  height: 4px;
  text-align: center;
}

@media (max-width: 767px) {
  #gallery .first #myCarousel ol.carousel-indicators .slide {
    height: 30px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide::before {
    font-size: 30px;
    height: 30px;
    width: 20px;
  }
  #gallery .first #myCarousel ol.carousel-indicators .slide.active::after {
    width: 20px;
    margin-top: -10px;
  }
}

#gallery .first #myCarousel ol.carousel-indicators .slide1::before {
  content: "1";
}

#gallery .first #myCarousel ol.carousel-indicators .slide1.active::before {
  content: "1";
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2::before {
  content: "2";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide2.active::before {
  content: "2";
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3::before {
  content: "3";
}

#gallery .first #myCarousel ol.carousel-indicators li.slide3.active::before {
  content: "3";
  width: 30px;
  height: 40px;
  position: relative;
  display: block;
  color: green;
}

#gallery .first #myCarousel .carousel-inner .carousel-item .img-slider img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100vh;
  width: 100%;
}

#create-garden {
  margin-top: -1px;
}

#create-garden .container-fluid {
  padding: 0;
}

#create-garden .container-fluid .row {
  margin: 0;
}

#create-garden .container-fluid .row .create-garden-text {
  background: white;
  padding: 50px 23px 50px 23px;
  position: relative;
  z-index: 5;
}

#create-garden .container-fluid .row .create-garden-text::before {
  content: '';
  display: block;
  -webkit-transform: skewX(-19deg);
          transform: skewX(-19deg);
  background-color: white;
  position: absolute;
  left: -10vw;
  top: -30px;
  bottom: 0;
  right: -100vw;
  z-index: -1;
  width: 55vw;
  height: 110%;
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text::before {
    display: none;
  }
}

#create-garden .container-fluid .row .create-garden-text::after {
  content: '';
  display: block;
  -webkit-transform: skewX(19deg);
          transform: skewX(19deg);
  background-color: white;
  position: absolute;
  left: -10vw;
  top: -30px;
  bottom: -30px;
  right: -100vw;
  z-index: -1;
  width: 55vw;
  height: 112.6%;
}

@media (min-width: 1826px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 111.5%;
  }
}

@media (min-width: 1781px) and (max-width: 1825px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 111.8%;
  }
}

@media (min-width: 1729px) and (max-width: 1780px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112.2%;
  }
}

@media (min-width: 1724px) and (max-width: 1728px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112.1%;
  }
}

@media (min-width: 1680px) and (max-width: 1723px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112.5%;
  }
}

@media (min-width: 1651px) and (max-width: 1679px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112.7%;
  }
}

@media (min-width: 1603px) and (max-width: 1650px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.2%;
  }
}

@media (min-width: 1570px) and (max-width: 1602px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.4%;
  }
}

@media (min-width: 1539px) and (max-width: 1569px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.7%;
  }
}

@media (min-width: 1533px) and (max-width: 1538px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.8%;
  }
}

@media (min-width: 1509px) and (max-width: 1532px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.8%;
  }
}

@media (min-width: 1500px) and (max-width: 1508px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.9%;
  }
}

@media (min-width: 1492px) and (max-width: 1499px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114%;
  }
}

@media (min-width: 1470px) and (max-width: 1491px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114.3%;
  }
}

@media (min-width: 1442px) and (max-width: 1469px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114.6%;
  }
}

@media (min-width: 1426px) and (max-width: 1441px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114.7%;
  }
}

@media (min-width: 1412px) and (max-width: 1425px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 115%;
  }
}

@media (min-width: 1405px) and (max-width: 1411px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 115%;
  }
}

@media (min-width: 1385px) and (max-width: 1404px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 115.3%;
  }
}

@media (min-width: 1339px) and (max-width: 1384px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 115.2%;
  }
}

@media (min-width: 1210px) and (max-width: 1338px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114.2%;
  }
}

@media (min-width: 1018px) and (max-width: 1209px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112.6%;
  }
}

@media (min-width: 992px) and (max-width: 1017px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 112%;
  }
}

@media (min-width: 922px) and (max-width: 991px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 114.5%;
  }
}

@media (max-width: 921px) and (min-width: 829px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    height: 113.4%;
  }
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text::after {
    display: none;
  }
}

#create-garden .container-fluid .row .create-garden-text h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
}

@media (max-width: 1599px) and (min-width: 992px) {
  #create-garden .container-fluid .row .create-garden-text h2 {
    font-size: 45px;
  }
}

#create-garden .container-fluid .row .create-garden-text p {
  margin-top: 36px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#create-garden .container-fluid .row .create-garden-text a.btn-primary {
  color: green;
  background: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#create-garden .container-fluid .row .create-garden-text a.btn-primary:hover {
  color: white;
  background: green;
  border-color: green;
}

@media (min-width: 767px) {
  #create-garden .container-fluid .row .create-garden-text {
    padding: 50px 50px 50px 50px;
  }
}

@media (min-width: 1500px) {
  #create-garden .container-fluid .row .create-garden-text {
    padding: 70px;
  }
}

#create-garden .container-fluid .row .create-garden-img {
  padding-right: 0;
}

#create-garden .container-fluid .row .create-garden-img::before {
  content: '';
  display: block;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  background-color: #445649;
  position: absolute;
  top: -30px;
  bottom: 0;
  right: 45vw;
  z-index: 1;
  width: 5vw;
  height: 30px;
}

@media (max-width: 1100px) {
  #create-garden .container-fluid .row .create-garden-img::before {
    width: 7vw;
    right: 42vw;
  }
}

@media (max-width: 845px) {
  #create-garden .container-fluid .row .create-garden-img::before {
    right: 40vw;
  }
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-img::before {
    display: none;
  }
}

@media (min-width: 1235px) {
  #create-garden .container-fluid .row .create-garden-img::before {
    width: 7vw;
  }
}

#create-garden .container-fluid .row .create-garden-img::after {
  content: '';
  display: block;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  background-color: #445649;
  position: absolute;
  right: 45vw;
  bottom: -30px;
  width: 5vw;
  height: 30px;
  z-index: 1;
}

@media (max-width: 1100px) {
  #create-garden .container-fluid .row .create-garden-img::after {
    width: 7vw;
    right: 42vw;
  }
}

@media (max-width: 845px) {
  #create-garden .container-fluid .row .create-garden-img::after {
    right: 40vw;
  }
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-img::after {
    display: none;
  }
}

@media (min-width: 1235px) {
  #create-garden .container-fluid .row .create-garden-img::after {
    width: 7vw;
  }
}

#create-garden .container-fluid .row .create-garden-img img {
  min-width: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media (max-width: 767px) {
  #create-garden .container-fluid .row .create-garden-img {
    padding-left: 0;
  }
}

#landscape-drainage-photo {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f0f0f0;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery {
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.11);
  padding: 57px 0 57px;
  background-color: white;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape i, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage i, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery i {
  font-size: 60px;
  font-weight: 400;
  color: green;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape div, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage div, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery div {
  width: 60px;
  background: green;
  margin: 15px auto 25px;
  height: 4px;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 {
  font-family: cabin, sans-serif;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4 a, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4 a, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 a {
  text-decoration: none;
  color: black;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape h4 a:hover, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage h4 a:hover, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery h4 a:hover {
  color: #7b7b7b;
}

#landscape-drainage-photo .landscape-drainage-photo .l-d-p .landscape p, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .drainage p, #landscape-drainage-photo .landscape-drainage-photo .l-d-p .photo-gallery p {
  text-align: left;
  font-size: 16px;
  margin-top: 49px;
  padding: 0 56px 0 56px;
  color: #7b7b7b;
  line-height: 1.75;
  font-family: "open sans", sans-serif;
}

#principles {
  padding-top: 50px;
}

#principles .principles-h2-img {
  text-align: center;
}

#principles .principles-h2-img h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
}

@media (min-width: 1600px) {
  #principles .principles-h2-img h2 {
    font-size: 60px;
    line-height: .92;
  }
}

@media (max-width: 1599px) and (min-width: 992px) {
  #principles .principles-h2-img h2 {
    font-size: 45px;
  }
}

#principles .principles-h2-img img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  #principles .principles-h2-img img {
    margin-top: 83px;
  }
}

#principles .principles-decription div {
  background: green;
  width: 60px;
  height: 4px;
}

@media (min-width: 992px) {
  #principles .principles-decription div {
    margin: 6px 0 40px;
  }
}

#principles .principles-decription p {
  margin-top: 36px;
  font-weight: 500;
  color: #7b7b7b;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#principles .principles-decription h4 {
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: #141414;
  margin-top: 54px;
}

#principles .principles-decription ol {
  color: green;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0b3b0b;
  list-style: none;
  margin-top: 48px;
  -webkit-column-count: 2;
          column-count: 2;
  padding: 0;
  font-family: "open sans", sans-serif;
  font-weight: 600;
}

#principles .principles-decription ol li {
  margin-top: 9px;
}

#principles .principles-decription ol li:first-of-type {
  margin-top: 0;
}

#principles .principles-decription ol li a, #principles .principles-decription ol li span {
  color: green;
  text-decoration: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#principles .principles-decription ol li a:hover {
  color: lightgreen;
}

#principles .principles-decription a.btn-primary {
  color: green;
  background: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#principles .principles-decription a.btn-primary:hover {
  color: white;
  background: green;
  border-color: green;
}

@media (min-width: 768px) {
  #contemporary .contemporary .contemporary-img {
    padding-left: 0;
  }
}

#contemporary .contemporary .contemporary-img img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

#contemporary .contemporary .contemporary-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 87px 23px 87px 15px;
  background: lightgreen;
}

@media (min-width: 768px) {
  #contemporary .contemporary .contemporary-text {
    padding-right: 0;
  }
}

#contemporary .contemporary .contemporary-text h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: cabin,sans-serif;
  display: block;
  color: green;
}

@media (max-width: 1599px) and (min-width: 992px) {
  #contemporary .contemporary .contemporary-text h2 {
    font-size: 45px;
  }
}

#contemporary .contemporary .contemporary-text p {
  margin-top: 36px;
  font-weight: 500;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  color: green;
}

#contemporary .contemporary .contemporary-text a {
  color: green;
  background: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 0;
  padding: 6px 6px 6px 26px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: cabin,sans-serif;
  letter-spacing: 1px;
  margin-top: 33px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#contemporary .contemporary .contemporary-text a:hover {
  color: white;
  background: green;
  border-color: green;
}
/*# sourceMappingURL=style.css.map */